beautifulsoup4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
hdbscan
ipywidgets
jupyterlab
matplotlib
networkx
numpy
pandas
pyarrow
pyvis
requests
scikit-learn
seaborn
sentence-transformers
spacy
tabulate
tqdm
umap-learn
Unidecode
urllib3
wordcloud
